{{!-- <script>//window.expressUrl='{{expressUrl}}'</script> --}}
<link rel = 'stylesheet' href = 'client-login.css'>

<body>
    
<h1>Login Page</h1>

{{!-- <h2>Login form goes here</h2> --}}
<div class='inputForm'>
    <input type="text" id="userName" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <button class="submitBTN" id="submitBTN">Submit</button>
    <button class = 'skipBTN' onclick="skipButtonClicked()">Skip</button>
</div>

<script src="login.js"></script>
<script>window.expressUrl='{{expressUrl}}'</script>
</body>