#client-add table {
    background-color: lightblue;
}
h1 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: #748b97;
    height: 60px;
    width: 65%;
    border: solid black 4px;
    border-radius: 8px;
    box-shadow: black 7px 7px 10px;
    /* text-shadow: black 0px 0px 5px; */
    /* -webkit-text-stroke: black solid 4px; */
}
.inputForm {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
body {
    background-image: url('Project 2 BG.jpg');
    background-size: cover;
    /* justify-content: space-evenly; */
}
#userName {
    width: 40%;
    height: 75px;
    text-align: center;
    font-size: 55px;
    margin: 20px auto 0 auto;
    padding: 10px;
    border: black solid 4px;
    border-radius: 10px;
    box-shadow: black 7px 7px 10px;
}
#password {
    width: 40%;
    height: 75px;
    text-align: center;
    font-size: 55px;
    margin: 20px auto 0 auto;
    padding: 10px;
    border: black solid 4px;
    border-radius: 10px;
    box-shadow: black 7px 7px 10px;
}
.submitBTN, .skipBTN{
    width: 25%;
    height: 70px;
    margin: 15px auto 0 auto;
    background-color: rgb(177, 177, 177);
    font-size: 36px;
    border: black solid 3px;
    border-radius: 6px;
    box-shadow: black 7px 7px 10px;
}
.submitBTN:hover {
    background-color: lightgray;
}
.skipBTN:hover {
    background-color: lightgray;
}