#client-add table {
    background-color: lightblue;
}
h1 {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20px; */
    text-align: center;
    font-size: 3rem;
    color: white;
    background-color: #748b97;
    height: 60px;
    width: 65%;
    border: solid black 4px;
    border-radius: 8px;
    box-shadow: black 7px 7px 10px;
    /* text-shadow: black 0px 0px 5px; */
    /* -webkit-text-stroke: black solid 4px; */
}
button {
    width: 25%;
    height: 70px;
    /* margin: 35px auto 0 auto; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(177, 177, 177);
    font-size: 36px;
    border: black solid 3px;
    border-radius: 6px;
    box-shadow: black 7px 7px 10px;
}
body {
    
    background-image: url('Project 2 BG.jpg');
    /* justify-content: space-evenly; */
}