#client-add table {
    background-color: lightblue;
}
h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 8rem;
    color: white;
    background-color: #748b97;
    width: 65%;
    border: solid black 5px;
    border-radius: 15px;
    box-shadow: black 7px 7px 10px;
    /* text-shadow: black 0px 0px 5px; */
    /* -webkit-text-stroke: black solid 4px; */
}
button {
    width: 25%;
    height: 70px;
    margin: 35px auto 0 auto;
    background-color: rgb(177, 177, 177);
    font-size: 36px;
    border: black solid 3px;
    border-radius: 6px;
    box-shadow: black 7px 7px 10px;
}
body {
    display: flex;
    flex-direction: column;
    background-image: url('Project 2 BG.jpg');
    justify-content: space-evenly;
}