<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App</title>
    <link rel="stylesheet" href="client-add.css" />    
    <link rel="stylesheet" href="client-edit.css" />    
    <link rel="stylesheet" href="client-list.css" />    
    <link rel="stylesheet" href="client-login.css" />    
</head>
<body>

    <h1>Main Layout</h1>
    
    {{{body}}}

</body>
</html>