<script src="client-edit.js"></script>

<h1>Client Edit Page</h1>

<form method="GET" id="edit_form"></form>

<div id="client-edit">
    <table>
        <tbody>
            <tr>
                <td>First Name</td>
                <td><input type="text" value="{{client.firstName}}" id="add-first-name" form="edit_form"></input></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" value="{{client.lastName}}" id="add-last-name" form="edit_form"></input></td>
            </tr>
            <tr>
                <td>Postal Code</td>
                <td><input type="text" value="{{client.postalCode}}" id="add-postal-code" form="edit_form"></input></td>
            </tr>
        </tbody>
    </table>
    <button onclick="saveButtonClicked()">Save</button>
    <button onclick="cancelButtonClicked()">Cancel</button>
 </div>
