<script src="client-add.js"></script>

<h1>Client Add Page</h1>

<form method="GET" id="add_form"></form>

<div id="client-add">
    <table>
        <tbody>
            <tr>
                <td>First Name</td>
                <td><input type="text" id="add-first-name" form="add_form"></input></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" id="add-last-name" form="add_form"></input></td>
            </tr>
            <tr>
                <td>Postal Code</td>
                <td><input type="text" id="add-postal-code" form="add_form"></input></td>
            </tr>
        </tbody>
    </table>
    <button onclick="saveButtonClicked()">Save</button>
    <button onclick="cancelButtonClicked()">Cancel</button>
</div>
